//------------------------------------------------------------
// = BUTTONS
//------------------------------------------------------------

.button{
  text-align: center;
  border: none;
  &.full-width{
    width: 100%;
  }
}
.button-v1{
  @extend %fs-16;
  @include f-roboto(700);
  height: 55px;
  color: $color-white;
  background: $color-1;
  border-radius: 10px;
}
.button-v2{
  @extend %fs-16;
  @include f-roboto(400);
  height: 50px;
  line-height: 50px;
  color: $color-1;
  background: $color-white;
  border-radius: 12px;
  padding: 0 20px;
}