//------------------------------------------------------------
// = RESET
//------------------------------------------------------------
* { outline: 0; }
html { font-size: 10px; }
body { font-family: $font; }
h1, h2, h3, h4, h5, h6, ul, label { margin: 0; padding: 0; }
ul { list-style: none; }
figure{ margin: 0; }
a:hover{
  text-decoration: none;
}

::selection {
  color: #fff;
  background: $color-black;
}

::-moz-selection {
  color: #fff;
  background: $color-black;
}