//------------------------------------------------------------
// = FORMS
//------------------------------------------------------------

.form-container {
  background-color: $color-white;
  box-shadow: 0 44px 54px rgba(73, 88, 126, 0.1);
  border-radius: 10px;
  &.login-form-contaier{
    display: inline-block;
    padding: 54px 50px;
    .form-group{
      margin: 0 -5px;
      input{
        width: 60px;
        height: 60px;
        margin: 0 10px;
        background-color: $color-2;
        border: none;
        border-radius: 8px;
      }
    }
    input{
      @extend %fs-16;
      @include f-roboto(400);
      text-align: center;
    }
  }

  .form-row{
    text-align: left;
    label{

    }
    .label{
      display: block;
      @extend %fs-25;
      @include f-roboto(500);
      margin-bottom: 20px;
    }
    &.button-row{
      margin-top: 57px;
    }
  }
}