//------------------------------------------------------------
// = FORMS
//------------------------------------------------------------

.form-container {
  .form-row{
    text-align: right;
    margin-bottom: 20px;
    label{
      width: 100%;
    }
    .label{
      @extend %fs-14;
      @include f-roboto(500);
      display: block;
      margin-bottom: 10px;
    }
    input[type="text"], input[type="password"], input[type="tel"], select, textarea{
      @extend %fs-14;
      @include f-roboto(400);
      width: 100%;
      height: 41px;
      color: rgba($color-black,0.5);
      background-color: $color-2;
      border: none;
      border-radius: 8px;
      padding: 0 20px;
      &:disabled {
        color: rgba($color-black,0.5);
        border: 1px solid rgba($color-black,0.3);
        background-color: $color-white;
        cursor: not-allowed;
      }
    }
    textarea{
      height: 140px;
      resize: none;
      padding: 12px 20px;
    }
    .text{
      @extend %fs-13;
      @include f-roboto(600);
      display: block;
      line-height: 3.1rem;
      color: $color-black;
      padding: 0 10px;
      + .text{
        margin-top: 20px;
      }
      &.big-size{
        @extend %fs-16;
        line-height: 3.1rem;
      }
    }
    .select2-container{
      width: 100%;
      &.select2-container--default {
        .select2-selection--single {
          width: 100%;
          height: 41px;
          background-color: $color-2;
          border: none;
          border-radius: 8px;
          .select2-selection__rendered{
            @extend %fs-14;
            @include f-roboto(400);
            line-height: 41px;
          }
          .select2-selection__arrow{
            top: 50%;
            left: 5px;
            right: auto;
            bottom: auto;
            transform: translateY(-50%);
          }
        }
        &.select2-container--disabled {
          .select2-selection--single{
            background-color: $color-white;
            border: 1px solid rgba($color-black,0.3);
            cursor: not-allowed;
          }
        }
      }
    }
    &.phone-number-row{
      .phone-number-content{
        display: flex;
        input{
          &:first-child{
            width: 80px;
            margin-left: 15px;
          }
        }
      }
    }
    &.button-row{
      margin-top: 57px;
    }
    &.text-row{
      label{
        @extend %fs-14;
        @include f-roboto(normal);
        line-height: 28px;
        color: $color-black;
        .label{
          font-weight: bold;
        }
        .text-v1{
          display: block;
          opacity: 0.5;
        }
      }
    }
    &.checkbox-row{
      label{
        width: 100%;
        position: relative;
        .label{
          @extend %fs-16;
          @include f-roboto(500);
          background-color: $color-2;
          width: 100%;
          height: 50px;
          line-height: 50px;
          padding-right: 20px;
          border-radius: 8px;
        }
        input{
          position: absolute;
          width: 0;
          height: 0;
          cursor: pointer;
          opacity: 0;
          &:checked{
            ~ .checkmark {
              background-color: $color-1;
              &:after {
                content: "";
                margin-top: 5px;
                margin-right: 7px;
                width: 6px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                display: block;
              }
            }
          }
          &:disabled{
            ~ .checkmark {
              &:after {
                cursor: not-allowed;
              }
            }
          }
        }
        .checkmark{
          position: absolute;
          top: 13px;
          left: 13px;
          height: 24px;
          width: 24px;
          border: 1px solid #eee;
          border-radius: 6px;
          background-color:rgba(0, 0, 0, 0.3);
        }
        &:hover{
          input{
            &:not([disabled]){
              ~ .checkmark{
                background-color: #ccc;
              }
            }
          }
        }
      }
    }
    &.form-with-icon{
      label{
        position: relative;
        input{
          padding: 0 20px 0 0;
        }
        i{
          position: absolute;
          top: 70%;
          left: 20px;
          font-size: 16px;
          transform: translateY(-50%);
        }
      }
    }
    &.search-row{
      label{
        position: relative;
        input{
          padding: 0 45px 0 0;
        }
        i{
          position: absolute;
          top: 50%;
          right: 15px;
          font-size: 16px;
          transform: translateY(-50%);
        }
      }
    }
    &.side-by-side-v1-row{
      display: flex;
      align-items: center;
      > * {
        width: 50%;
        &.label{
          margin-bottom: 0;
        }
        input{
          width: 160px;
        }
      }
    }
    &.radio-btn-v1-row{
      //display: flex;
      //> *{
      //  width: 50%;
      //}
      .radio-btn-group{
        display: flex;
        margin: 0 -15px;
        > *{
          padding: 0 15px;
        }
        label{
          position: relative;
          display: flex;
          text-align: center;
          cursor: pointer;
          user-select: none;
          input{
            position: absolute;
            width: 0;
            height: 0;
            cursor: pointer;
            opacity: 0;
            &:checked{
              ~ .checkmark {
                background-color: $color-1;
                &:after {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
            &:disabled{
              ~ .checkmark {
                &:after {
                  cursor: not-allowed;
                }
              }
            }
          }
          .text{
            @extend %fs-14;
            @include f-roboto(400);
            display: block;
            color: rgba($color-black,0.5);
            margin: 0 0 0 10px;
          }
          .checkmark{
            position: relative;
            display: inline-block;
            height: 20px;
            width: 20px;
            border: 1px solid rgba($color-black, 0.3);
            border-radius: 50%;
            transition: $transition;
            &:after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 8px;
              height: 8px;
              background: $color-white;
              border-radius: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
              visibility: hidden;
              transition: $transition;
            }
          }
          &:hover{
            input{
              &:not([disabled]){
                ~ .checkmark{
                  background-color: $color-1;
                }
              }
            }
          }
        }
      }
    }
    &.single-photo-upload{
      .photo-upload {
        @extend .dropzone;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 138px;
        height: 177px !important;
        border: 1px solid rgba($color-black, 0.3) !important;
        border-radius: 8px !important;
        margin: 0 auto;
        overflow: visible !important;
        .photo-upload-inner{
          position: absolute;
          z-index: 5;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          cursor: pointer;
          .dz-preview{
            display: flex !important;
            align-items: center;
            justify-content: center;
            .dz-image{
              height: auto !important;
            }
          }
          &.dz-started{
            ~ i{
              &.icon-admin-profile{
                display: none;
              }
            }
            ~ span{
              &.description{
                display: none;
              }
              &.delete-images{
                display: block;
              }
            }
          }
          &.dz-max-files-reached{
            pointer-events: none;
            cursor: default;
          }
        }
        i{
          &.icon-admin-profile{
            color: rgba($color-black, 0.5);
            font-size: 48px;
          }
          &.icon-delete{
            font-size: 15px;
            line-height: 32px;
            color: $color-white;
          }
        }
        span{
          &.description{
            @extend %fs-13;
            @include f-roboto(500);
            color: rgba($color-black, 0.5);
          }
          &.delete-images{
            position: absolute;
            top: -13px;
            right: -13px;
            display: none;
            width: 32px;
            height: 32px;
            text-align: center;
            background-color: $color-4;
            border-radius: 50%;
          }
        }
      }
    }
    &.multiple-photo-upload{
      .photo-upload{
        @extend .dropzone;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 177px !important;
        border: 1px solid rgba($color-black, 0.3) !important;
        border-radius: 8px !important;
        margin: 0 auto;
        overflow: visible !important;
        .photo-upload-inner{
          position: absolute;
          z-index: 5;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          padding-right: 100px;
          cursor: pointer;
          .dz-preview{
            position: relative;
            display: flex !important;
            align-items: center;
            text-indent: -999999;
            justify-content: center;
            .dz-image{
              height: auto !important;
            }
            .dz-details{
              top: 50%;
              transform: translateY(-50%);
            }
            .dz-remove{
              @extend [class^="icon-"];
              @extend .icon-delete;
              position: absolute;
              top: -13px;
              left: -13px;
              display: block;
              width: 32px;
              height: 32px;
              font-size: 15px;
              line-height: 32px;
              color: $color-white;
              text-align: center;
              background-color: $color-4;
              border-radius: 50%;
              z-index: 502;
              overflow: hidden;
              &:hover{
                text-decoration: none;
              }
            }
          }
          &.dz-started{
            ~ i{
              &.icon-admin-profile{
                //display: none;
              }
            }
            ~ span{
              &.description{
                //display: none;
              }
            }
          }
          &.dz-max-files-reached{
            //pointer-events: none;
            //cursor: default;
          }
        }
        .custom-upload{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          i{
            &.icon-admin-profile{
              color: rgba($color-black, 0.5);
              font-size: 48px;
            }
          }
          span{
            &.description{
              @extend %fs-13;
              @include f-roboto(500);
              color: rgba($color-black, 0.5);
            }
          }
        }
      }
    }
    .icons-content{
      position: relative;
      input{
        padding: 0 45px 0 20px;
      }
      i{
        position: absolute;
        top: 50%;
        right: 15px;
        font-size: 18px;
        color: rgba($color-black, 0.3);
        transform: translateY(-50%);
      }
    }
    .input-group-content{
      display: flex;
      margin: 0 -8px;
      label{
        padding: 0 8px;
      }
    }
  }
  &.login-form-contaier{
    display: inline-block;
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 44px 54px rgba(73, 88, 126, 0.1);
    padding: 54px 50px;
    input{
      @extend %fs-16;
      @include f-roboto(400);
      text-align: center;
      padding: 0 10px;
      &[type="text"]{
        @extend %fs-16;
        @include f-roboto(400);
        width: 340px;
        height: 60px;
        text-align: right;
        background-color: $color-2;
        border: none;
        border-radius: 8px;
      }
    }
    .form-group{
      margin: 0 -5px;
      input{
        width: 60px;
        height: 60px;
        margin: 0 10px;
        background-color: $color-2;
        border: none;
        border-radius: 8px;
      }
    }
  }
  .search-box{
    display: flex;
    margin: 0 -10px;
    .form-row{
      width: calc(100% - 170px);
      padding: 0 10px;
      margin-bottom: 20px;
      &.submit-row{
        width: 150px;
      }
    }
    input{
      width: 100%;
      @extend %fs-16;
      @include f-roboto(400);
      height: 50px;
      line-height: 50px;
      color: $color-black;
      background: transparent;
      border: 1px solid rgba($color-black, 0.3);
      border-radius: 8px;
      padding: 0 10px;
    }
  }
  .search-box-v2{
    display: flex;
    margin: 0 -10px;
    .form-row{
      width: calc(100% - 170px);
      padding: 0 10px;
      margin-bottom: 20px;
      &.submit-row{
        width: 150px;
      }
    }
    input{
      width: 100%;
      @extend %fs-16;
      @include f-roboto(400);
      height: 50px;
      line-height: 50px;
      color: $color-4;
      border-radius: 8px;
      padding: 0 10px;
    }
    button{
      margin-top: 29px;
    }
  }
  .table-filter-inner{
    display: flex;
    .form-row{
      margin: 0 0 0 30px;
      label{
        display: flex;
        align-items: center;
        .label{
          @extend %fs-14;
          @include f-roboto(normal);
          margin: 0 0 0 15px;
        }
        .select2-container{
          width: 250px !important;
          &.select2-container--default {
            .select2-selection--single {
              width: 250px;
              height: 50px;
              border-radius: 8px;
              .select2-selection__rendered{
                @extend %fs-16;
                @include f-roboto(400);
                line-height: 50px;
              }
              .select2-selection__arrow{
                top: 50%;
                left: 5px;
                right: auto;
                bottom: auto;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
      &:last-child{
        margin: 0;
      }
    }
    .right-fix{
      margin-right: auto;
    }
  }
  hr{
    opacity: 0.5;
    margin-top: 5px;
    margin-bottom: 25px;
  }
}

.button-row{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  > * {
    + *{
      margin-right: 30px;
    }
  }
}

//------------------------------------------------------------
// = PLUGIN OVERRIDE STYLES
//------------------------------------------------------------
.select2-container{
  &.select2-container--default{
    &.select2-container--open{
      .select2-dropdown{
        border: 1px solid $color-2;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        .select2-results{
          padding: 16px 8px;
          .select2-results__options{
            max-height: 30*6px;
            .select2-results__option{
              @extend %fs-14;
              @include f-roboto(normal);
              line-height: 30px;
              color: $color-1;
              transition: $transition;
              padding: 0 8px;
              &.select2-results__option--highlighted{
                color: $color-1;
                background-color: rgba($color-1, 0.08);
                border-radius: 8px;
              }
            }
          }
        }
        &.select2-dropdown--below{
          margin-top: 6px;
        }
        &.select2-dropdown--above{
          margin-bottom: 6px;
        }
      }
    }
  }
}
