//------------------------------------------------------------
// = TYPOGRAPHY
//------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=latin-ext');

@mixin fontsize($size:1, $line: $size * 1.4) {
  font-size: $size + rem;
  line-height: $line + rem;
}

@mixin f-roboto($font-weight) {
  font-family: $font-2;
  font-weight: $font-weight;
}

%fs-42{
  @include fontsize(4.2);
}
%fs-32{
  @include fontsize(3.2);
}
%fs-25{
  @include fontsize(2.5);
}
%fs-22{
  @include fontsize(2.2);
}
%fs-16{
  @include fontsize(1.6);
}
%fs-14{
  @include fontsize(1.4);
}
%fs-13{
  @include fontsize(1.3);
}
%fs-12{
  @include fontsize(1.2);
}
%fs-11{
  @include fontsize(1.1);
}