//------------------------------------------------------------
// = VARIABLES
//------------------------------------------------------------
$images: 					"../images/layout";

$font: 						Arial, Helvetica, sans-serif;
$font-2: 'Roboto', Arial, sans-serif;
$font-3: 'GESSTwoMedium-Medium', Arial, sans-serif;

$transition: all 0.2s linear;

$color-black: 			#000;
$color-white: 			#fff;

$color-1: #4250CE;
$color-2: #E8EDF5;
$color-3: #EFF2F4;
$color-4: #FF414D;
$color-5: #868E96;
$color-6: #C4C4C4;
$color-7: #575757;


@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


