//------------------------------------------------------------
// = VARIABLES
//------------------------------------------------------------
$images: 					"../images/layout";

$font: 						Arial, Helvetica, sans-serif;
$font-2: 'Roboto', Arial, sans-serif;


$color-black: 			#000;
$color-white: 			#fff;



$color-1: #4250CE;
$color-2: #E8EDF5;


@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


