//------------------------------------------------------------
// = IMPORTS
//------------------------------------------------------------
// Base
@import "bootstrap";
@import "variables";
@import "typography";
@import "buttons";
@import "forms";

// fancybox max hack
@function max($numbers...){
	@return m#{a}x(#{$numbers});
}

//------------------------------------------------------------
// = LIBRARY OVERRIDE
//------------------------------------------------------------
@import "../../../node_modules/jquery-ui-dist/jquery-ui.min";
@import "../../../node_modules/select2/dist/css/select2.min";
@import "../../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min";


//------------------------------------------------------------
// = RESET
//------------------------------------------------------------
* { outline: 0; }
html { font-size: 10px; }
body { font-family: $font; }
h1, h2, h3, h4, h5, h6, ul, label { margin: 0; padding: 0; }
ul { list-style: none; }
::selection { color: #fff; background: $color-black; }
::-moz-selection { color: #fff; background: $color-black; }

//------------------------------------------------------------
// = LAYOUT
//------------------------------------------------------------
@mixin line-clamp ($lines: 1, $line-height: 1, $is-max: false) {
	$height: $lines * $line-height;

	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis-lastline;
	overflow: hidden;

	@if $is-max == true {
		max-height: $height;
	} @else {
		height: $height;
	}
}

html, body{
	min-height: 100%;
}

body{
	&.login-page{
		position: relative;
		background: transparent url("../images/bg/bg-v1.jpg") no-repeat center / cover;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 232px;
			background-color: $color-1;
		}
		.page-wrapper, .page-inner, .content-wrapper, .content-inner{

		}
	}
}


header{
	position: relative;
	text-align: center;
	padding: 40px 0;
	figure{
		img{

		}
		+ figure{
			margin-top: 12px;
		}
		&:last-child{
			margin-top: 26px;
		}
	}
}

.login-verify{
	.inner{
		text-align: center;
		padding: 40px 0;
	}
}

