//------------------------------------------------------------
// = IMPORTS
//------------------------------------------------------------
// Base
@import "bootstrap";
@import "variables";
@import "typography";
@import "buttons";
@import "forms";

// fancybox max hack
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

//------------------------------------------------------------
// = LIBRARY OVERRIDE
//------------------------------------------------------------
@import "../../../node_modules/jquery-ui-dist/jquery-ui.min";
@import "../../../node_modules/select2/dist/css/select2.min";
@import "../../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min";

//------------------------------------------------------------
// = RESET
//------------------------------------------------------------
@import "reset";

//------------------------------------------------------------
// = LAYOUT
//------------------------------------------------------------
@mixin line-clamp($lines: 1, $line-height: 1, $is-max: false) {
  $height: $lines * $line-height;

  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis-lastline;
  overflow: hidden;

  @if $is-max == true {
    max-height: $height;
  } @else {
    height: $height;
  }
}

html, body {
  height: 100%;
}

body {
  background-color: $color-3;
  &.login-page {
    position: relative;
    background: transparent url("../images/bg/bg-v1.jpg") no-repeat center / cover;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 232px;
      background-color: $color-1;
    }
  }
  .page-wrapper, .page-inner, .content-wrapper, .content-inner{
    height: 100%;
  }
  &:not(.login-page){
    .content-inner{
      position: relative;
      padding-left: 300px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #FFFFFF 20.8%, rgba(255, 255, 255, 0) 100%), url('../images/bg/bg-v1.jpg') no-repeat center / cover;
        opacity: 0.2;
      }
      .content{
        position: relative;
        padding: 30px 40px;
      }
    }
  }
}

header {
  position: relative;
  text-align: center;
  padding: 40px 0;

  figure {
    img {

    }

    + figure {
      margin-top: 12px;
    }

    &:last-child {
      margin-top: 26px;
    }
  }
}

.login-verify {
  .inner {
    text-align: center;
    padding: 40px 0;
  }
}

.big-menu {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: $color-1;
  z-index: 1;
  > .inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    .menu-top {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid rgba($color-white,0.3);
      padding: 16px 16px 16px 54px;
      .logo {
        margin-right: 18px;
        img {
          width: 33px;
        }
      }

      .figure-text-1 {
        img {
          width: 94px;
        }
      }
    }
    .menu-center{
      .inner{
        padding: 44px 50px 15px;
        .profile-description{
          display: flex;
          padding: 0 0 24px;
          border-bottom: 1px solid rgba($color-white,0.3);
          figure{
            border: 1px solid $color-white;
            border-radius: 7px;
            overflow: hidden;
            img{
              width: 40px;
            }
          }
          .text{
            padding-left: 15px;
            h3{
              @extend %fs-16;
              @include f-roboto(500);
              color: $color-white;
            }
            h4{
              @extend %fs-12;
              @include f-roboto(400);
              color: rgba($color-white, 0.5);
            }
          }
        }
      }
    }
    .menu-bottom{
      margin-top: auto;
      padding: 15px 50px 24px;
      .description{
        display: block;
        @extend %fs-11;
        @include f-roboto(400);
        color: rgba($color-white, 0.4);
        margin-top: 60px;
      }
    }
    nav.menu{
      padding: 36px 0 0;
      ul{
        li{
          margin-bottom: 32px;
          a{
            @extend %fs-16;
            @include f-roboto(500);
            color: $color-white;
            opacity: 0.5;
            transition: $transition;
            &:hover, &.active {
              opacity: 1;
            }
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.highlight{
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2{
    @extend %fs-42;
    @include f-roboto(700);
  }
}

.horizontal-list{
  &.v1{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    li{
      width: 33.333%;
      padding: 0 8px;
      margin-bottom: 15px;
      &.cols-2{
        width: 66.666%;
      }
    }
  }
}


.box-v1{
  position: relative;
  display: block;
  height: 150px;
  background-color: $color-white;
  border-radius: 15px;
  padding: 25px 35px;
  h3{
    @extend %fs-16;
    @include f-roboto(400);
    color: $color-black;
    margin: 0 0 8px;
    .notification{
      display: inline-block;
      @extend %fs-12;
      width: 25px;
      height: 20px;
      line-height: 20px;
      color: $color-white;
      text-align: center;
      background-color: $color-4;
      border-radius: 4px;
      margin-left: 10px;
    }
  }
  p{
    @extend %fs-32;
    @include f-roboto(700);
    color: $color-black;
    margin: 0 0 5px;
  }
  > span{
    @extend %fs-14;
    @include f-roboto(400);
    display: block;
    color: $color-black;
  }
  i{
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    width: 42px;
    height: 42px;
    background-color: rgba($color-1,0.1);
    border-radius: 50%;
  }
}